@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Open+Sans&family=Poppins:wght@200;300;400&display=swap');

/* Font families to be used throughout the headings and headlines */
/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

/* Font families to be used in application */
/* 
font-family: 'Poppins', sans-serif;
*/

:root{
  --primary-red-color: #e13453;
  --primary-dark-red-color: #ae233c;
  --primary-light-red-color: rgb(255, 225, 226);
  --primary-black-color: #0a090a;
  --light-grey-text: #7e7e7e;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: var(--primary-light-red-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--primary-red-color);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  font-size: 2rem;
}

.font_styling{
  font-family: 'Poppins', sans-serif;
}
