@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Open+Sans&family=Poppins:wght@200;300;400&display=swap');

/* Font families to be used throughout the headings and headlines */
/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

/* Font families to be used in application */
/* 
font-family: 'Poppins', sans-serif;
*/

:root{
  --primary-red-color: #e13453;
  --primary-dark-red-color: #ae233c;
  --primary-light-red-color: #ffe9ea;
  --primary-black-color: #0a090a;
  --primary-yellowish-green-color: #a2fd2c;
  --light-grey-text: #7e7e7e;
  --light-grey-background: #f5f5f5;
  --light-grey-border: #e6e6e6;
  --light-grey-border-hover: #d9d9d9;
  --light-grey-background-hover: #f0f0f0;
  --light-grey-background-active: #e6e6e6;
  --primary-purplish-blue-color: #3f51b5;
  --primary-dark-purplish-blue-color: #303f9f;
  --primary-light-purplish-blue-color: #c5cae9;
  --primary-yellow-color: #ffeb3b;
  --primary-dark-yellow-color: #fbc02d;
  --primary-light-yellow-color: #fffde7;
  --primary-green-color: #4caf50;
  --primary-dark-green-color: #388e3c;
  --primary-light-green-color: #c8e6c9;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: var(--primary-light-red-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--primary-yellowish-green-color);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  font-size: 2rem;
}

.font_styling{
  font-family: 'Poppins', sans-serif;
}
